
@{
    ViewData["Title"] = "FullPlaneView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>The plane has reached its capacity.</h1>
<h2>Choose another flight or try a different class.</h2>
<a asp-action="Index">Go back</a>
